@import url("./global.css");

html {
    overflow-x: visible;
    overflow-y: visible;
}

#container {
    overflow-x: hidden;
}

#container-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

.contato {
    width: 500px;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 21.29px;
    background-color: var(--font);
    color: var(--bg);
    text-align: center;
    font-family: "Bebas Neue";
    cursor: pointer;
    scale: 1;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.contato:hover {
    scale: 1.1;
}

.top-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70%;
}

.top-image svg {
    fill: var(--bg);
}

@media (max-width: 720px) {
    #container-contato {
        display: grid;
    }

    .contato {
        margin-left: 0px;
        margin-right: 0px;
        scale: 0.6;
    }

    .contato:hover {
        scale: 0.7;
    }
}